#bg-login{
    background-image: url(../asset/image/BGN_LOGO.png);
    background-size: cover;
    background-position: center center;
}

.slide-down {
    animation: slide-down 1.5s;
}
@keyframes slide-down {
    from {
        transform: translateY(-40%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
    